body {
  font-size: 20px;
}

.news-title {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  margin-top: 10px;
}

.news-item {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  background: lightcyan;
}

.button {
  margin: 10px 0;
  border: none;
  background-color:#aaaaaa;
  padding: 10px;
  color: white;
  border-radius: 4px;
}

.open-close {
  display: none;
}

.opened {
  display: block;
}


